body{
    color:white;
    background:black;
    margin: 0px;
}

header{
    border-bottom: solid2px rgb(255, 255, 0)
    paddin: 20px;
    font-size: 32px;
    color: rgb (255, 255, 0
    )
}